.product img{

    width: 286px;
    height: 286px;
    border:8px ;

}
.product{
    width: 300px;
    height: 510px;
    border: 1px solid aqua;
    border-radius: 8px;
    padding: 7px;
    position: relative;
}
.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}

.btn-cart{
    width: 100%;
    background-color: orange;
    border: none;
    border-radius: 0px 0px 8px 8px ;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;


}
.btn-cart:hover{
    background-color: brown;
}
.btn-cart .btn-text{
    margin-right: 20px;

}